<html>
  <head>
    <meta charset="UTF-8" />
    <title> Aplikasi Undian </title>

    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../public/css/index.css" />
  </head>

  <body>
    <div class="page">
      <div class="page-single">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <a class="module" id="module-registration">
                <div class="img">
                  <img
                    src="../public/imgs/registration.png"
                    alt=""
                    class="module-img"
                  />
                </div>

                Registrasi
              </a>
            </div>

            <div class="col-4">
              <a class="module" id="modul-member">
                <div class="img">
                  <img
                    src="../public/imgs/member.png"
                    alt=""
                    class="module-img"
                  />
                </div>

                Data Anggota
              </a>
            </div>

            <div class="col-4">
              <a class="module" id="modul-winner">
                <div class="img">
                  <img
                    src="../public/imgs/trophy.png"
                    alt=""
                    class="module-img"
                  />
                </div>

                Tentukan Pemenang
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../public/js/index.js"></script>
  </body>
</html>
