.container {
    padding-top: 15px;
    padding-bottom: 15px;
} 

.btn-action-group {
    text-align: center;
    padding: 5px 0px;
}

#table-data img {
    width: 40px;
    height: 40px;
}

#msg-success-delete {
    display: none;
    margin-top: 15px;
}