<html>
    <head>
        <meta charset="UTF-8" />
        <title>Aplikasi Undian</title>

        <!-- plugins -->
        <link
            rel="stylesheet"
            href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="../../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css"
        />
        <link
            rel="stylesheet"
            href="../../node_modules/font-awesome/css/font-awesome.min.css"
        />

        <!-- application css -->
        <link rel="stylesheet" href="../../public/css/member-data.css" />
    </head>

    <body>
        <div class="container">
            <h5 class="text-center">Data Anggota</h5>

            <div class="btn-action-group">
                <button
                    type="button"
                    id="btn-refresh"
                    class="btn btn-light btn-sm"
                >
                    <i class="fa fa-refresh"></i>
                    Refresh
                </button>

                <button
                    type="button"
                    id="btn-registration"
                    class="btn btn-primary btn-sm"
                >
                    <i class="fa fa-plus"></i>
                    Registrasi
                </button>
            </div>

            <div id="msg-success-delete" class="alert alert-success">
                Berhasil hapus data anggota
            </div>

            <table class="table" id="table-data">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Foto</th>
                        <th>Nama Lengkap</th>
                        <th>Catatan</th>
                        <th>Tgl. Bergabung</th>
                        <th>Tgl. Memenangkan Undian</th>
                        <th>Aksi</th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>
        </div>

        <!-- application js -->
        <script src="../../public/js/member-data.js"></script>
    </body>
</html>
