<html>
  <head>
    <meta charset="UTF-8" />
    <title> Aplikasi Undian </title>

    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="../../node_modules/datatables/media/css/jquery.dataTables.min.css"
    />
    <link rel="stylesheet" href="../../public/css/member-data.css" />
  </head>

  <body>
    <div class="container">
      <h5 class="text-center"> Data Anggota </h5>

      <table class="table" id="table-data">
        <thead>
           <tr>
               <th>No</th>
               <th>Foto</th>
               <th>Nama Lengkap</th>
               <th>Catatan</th>
               <th>Tgl. Bergabung</th>
               <th>Tgl. Dapat Undian</th>
           </tr> 
        </thead>

        <tbody>

        </tbody>
      </table>
    </div>

    <script src="../../public/js/member-data.js"></script>
  </body>
</html>
